<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>person</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RoleServlet</display-name>
    <servlet-name>RoleServlet</servlet-name>
    <servlet-class>controller.RoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleServlet</servlet-name>
    <url-pattern>/RoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleServlet_</display-name>
    <servlet-name>RoleServlet_</servlet-name>
    <servlet-class>controller.RoleServlet_</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleServlet_</servlet-name>
    <url-pattern>/RoleServlet_</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Person</display-name>
    <servlet-name>Person</servlet-name>
    <servlet-class>controller.Person</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Person</servlet-name>
    <url-pattern>/Person</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Person_</display-name>
    <servlet-name>Person_</servlet-name>
    <servlet-class>controller.Person_</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Person_</servlet-name>
    <url-pattern>/Person_</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>controller.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServlet_</display-name>
    <servlet-name>MyServlet_</servlet-name>
    <servlet-class>controller.MyServlet_</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet_</servlet-name>
    <url-pattern>/MyServlet_</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditRoleServlet</display-name>
    <servlet-name>EditRoleServlet</servlet-name>
    <servlet-class>controller.EditRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRoleServlet</servlet-name>
    <url-pattern>/EditRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRoleServlet</display-name>
    <servlet-name>DeleteRoleServlet</servlet-name>
    <servlet-class>controller.DeleteRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRoleServlet</servlet-name>
    <url-pattern>/DeleteRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePersonMe</display-name>
    <servlet-name>DeletePersonMe</servlet-name>
    <servlet-class>controller.DeletePersonMe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePersonMe</servlet-name>
    <url-pattern>/DeletePersonMe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPersonMe</display-name>
    <servlet-name>EditPersonMe</servlet-name>
    <servlet-class>personme.EditPersonMe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPersonMe</servlet-name>
    <url-pattern>/EditPersonMe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDocument</display-name>
    <servlet-name>DeleteDocument</servlet-name>
    <servlet-class>document.DeleteDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDocument</servlet-name>
    <url-pattern>/DeleteDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDocument</display-name>
    <servlet-name>EditDocument</servlet-name>
    <servlet-class>document.EditDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDocument</servlet-name>
    <url-pattern>/EditDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCitizen</display-name>
    <servlet-name>DeleteCitizen</servlet-name>
    <servlet-class>citizen.DeleteCitizen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCitizen</servlet-name>
    <url-pattern>/DeleteCitizen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCitizen</display-name>
    <servlet-name>EditCitizen</servlet-name>
    <servlet-class>citizen.EditCitizen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCitizen</servlet-name>
    <url-pattern>/EditCitizen</url-pattern>
  </servlet-mapping>
</web-app>